$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$num-cards: 10;
$anim-dur: 2000ms;
$anim-delay: $anim-dur / $num-cards;

body{
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}
  
h1{
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
}
  
h2{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
  
h3{
  margin: 0;
  font-family: "Shrikhand", cursive;
  color: white;
}

h4{
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 black;
}

h5{
  display: none;
}
  
span{
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}
  
p{
  font-family: "Roboto", sans-serif;
}

  /*Page d'accueil*/

.page_accueil{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-delay: 3s;
  animation-name: load_accueil;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes load_accueil {
  0%{
    display: none;
    opacity:0;
    z-index: 2000;
  }
  100%{
    opacity: 1;
    z-index: 2000;
  }
}

/*Spinner*/

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($primary-color, $secondary-color);
  animation-delay: 3s;
    .loader_text{
      display: flex;
      flex-direction: column;
        h1{
          margin-bottom: 0;
        }
        h2{
          display: flex;
          justify-content: center;
          font-weight: 900;
        }
    } 
    .spinner{
      position:absolute;
      width:200px;
      height:200px;
      top:50%;
      left:50%;
      transform:translate(-51%,-53%);
      background:transparent;
      border-radius: 50%;
      line-height:150px;
    }
      .spinner::before{
        content:'';
        position:absolute;
        top:-3px;
        left:-3px;
        width:100%;
        height:100%;
        border:10px solid $primary-color;
        border-top:10px solid $tertiary-color;
        border-bottom: 10px solid $secondary-color;
        border-radius:50% ;
        animation:spinner_loader 1s ease-out ;
        animation-iteration-count: 3;
      }

  @keyframes spinner_loader{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
}

.header_accueil{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.logo_accueil {
  background-color:white;
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 5px grey;
  position: relative;
    .logo{
      display: flex;
      justify-content: center;
      height: 100%;
    }
      img{
     margin-top: 10px;
     width: 150px;
     height: 25px;
    }
}

#localisation_accueil{
  height:40px;
  display: flex;
  justify-content: center;
  padding-right: 25px;
  background-color: rgb(235, 235, 235) ;
    i{
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
    span{
      font-size:small;
      font-weight: 900;
    }
}

.reserver{
  width: 100%;
  background-color: rgba(246,246,246,255) ;
  display: flex;
  flex-direction: column;
  align-items: center;
    span{
      width: 200px;
      padding-top: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      font-weight: 900;
      font-size:larger;
      text-shadow: 0 0 black;
    }
    p{
      padding-left:20px ;
      text-align: center;
      width: auto;
      font-size: medium;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(246,246,246,255);
      width: 200px ;
      height: 40px;
      background: linear-gradient(170deg, $secondary-color, $primary-color);
      border-radius: 20px;
      margin: 10px 0 50px 0 ;
    }
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
    h2{
      width: 100%;
      font-size: large;
      font-weight: 900;
      padding: 10px 0 20px 40px
    }
    .cards_accueil {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      height: 75px;
      background: rgba(246,246,246,255) ;
      border-radius: 20px;
      box-shadow : 1px 10px 15px 2px rgb(207, 207, 207) ;
      margin-bottom: 20px;
        &:hover {
          background: #ecdcff;
          box-shadow : 1px 10px 15px 2px rgb(129, 129, 129);
        }
        .chiffre_cercle{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: small;
          height: 25px;
          width: 25px;
          background: $primary-color;
          border-radius: 50%;
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          margin-left: -65px;
        }
          i.fa-solid.fa-mobile-screen{
            color:grey;
            font-size: 20px;
            margin-left: -70px;
          }
          i.fa-solid.fa-list{
            color:grey;
            font-size: 20px;
            margin-left: -70px;
          }
          i.fa-solid.fa-store{
            color:grey;
            font-size: 20px;
            margin-left: -70px;
          }
          p{
            font-size:16px;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            color: black;
            text-shadow: 0 0 black;
            margin-left: -50px;
          }
    }
}
  
.restaurants{
  margin: 0;
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: rgba(246,246,246,255) ;
  display: flex;
  flex-direction: column;
    h2{
      width: 50%;
      padding : 10px 0 20px 30px;
      font-weight: 900;
      font-size: large;
    }
    .container_cards{
      width: 85%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 7%;
        .cards_restaurants{
          background-color: white;
          border-radius: 20px;
          box-shadow: 1px 1px 30px grey;
          flex-direction: column;
          width: 100%;
          height: 260px;
          margin-bottom: 20px;
            figure{
              height:auto ;
              width: 100%;
              flex-direction: column;
              align-items: flex-start;
              margin: 0;
                .new_green_cards{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: rgba(0, 129, 96, 0.929);
                  position: absolute;
                  margin-top: 15px;
                  margin-left: 230px;
                  font-size: medium;
                  font-weight: 900;
                  font-family: "Roboto", sans-serif;
                  width: 80px;
                  height: 30px;
                  border-radius: 2px;
                  background: $tertiary-color;
                  z-index: 1;
                }
                  img{
                     width: 100%;
                     height: 180px;
                     display: flex;
                     object-fit: cover;
                     border-radius:20px 20px 0 0;
                  }
                  figcaption{
                    display: flex;
                    width: 90%;
                    justify-content: space-between;
                      .texte h4{
                        margin-bottom: 10px;
                        padding-left: 20px;
                      }
                      .texte p{
                        margin-left: 20px;
                        font-weight: 900;
                        font-size: 16px;
                        margin-top: 0;
                      }
                  }
              }
        }
    }
}
  
/*header menu*/
  
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
  
#logo img {
  margin-top: 10px;
  width: 150px;
}
  
header .header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
  
.retour_accueil {
  display: none;
}
  
#arrow_left {
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: large;
}
  
.twitter {
  display: none;
}
  
  /*Main Menu*/

.photo img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
  
.menu {
  position: relative;
  border-radius: 30px 30px 0 0px;
  background-color: rgba(246,246,246,255);
  margin-top: -70px;
  padding-bottom: 70px;
    .block_menu {
      width: 90%;
      padding-left: 5%;
        .title{
          display: flex;
          justify-content: space-around;
          margin-left: -25px;
            h1{
              font-weight: 100;
            }
        }
    } 
}  
                     
.restaurant_card--heart{
  transform: scaleX(1);
  &:hover svg.coeur_plein{
      transform: scaleY(1);
  }
  svg.coeur_vide{
    overflow: hidden;
    padding-top: 21px;
    width: 27px;
    height: 27px;
    stroke: black;
    fill: transparent;
  }
  svg.coeur_plein{
    background-color: transparent ;
    position: absolute;
    padding-top: 20px;
    width: 30px;
    height: 30px;
    margin-left: -29px;
    fill: url(#my-cool-gradient) #9356DC;
    transform: scaleY(0);
    transition: transform 200ms ease-in-out;
  }
}
        
/* cartes + animations */

.entree h2{
    margin-top: 10px;
    font-size: medium;
    font-weight: 200;
}

.plats h2{
  margin-top: 20px;
  font-size: medium;
  font-weight: 200;
}

.desserts h2{
  margin-top: 20px;
  font-size: medium;
  font-weight: 200;
}
  
.trait_dessous{
    border-top: 3px $tertiary-color solid;
    width: 40px;
    margin-top: 5px;
    padding-bottom: 20px;
}

.blockcards {
  width: 100%;
  height: auto;
  display: flex;
    .cards{
      overflow: hidden;  /* pour que la greencard ne dépasse pas au démarrage de l'animation */
      width: 100%;
      height: 75px;
      background-color:white;
      border-radius: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-end;
      box-shadow : 1px 10px 15px 2px rgb(207, 207, 207);
      transform: scaleY(1);
      animation: cards_down $anim-dur;
        @for $i from 1 through $num-cards {
          &--#{$i} {
            animation-delay: $anim-delay * $i;
            &:hover{
              box-shadow : 1px 10px 15px 2px rgb(129, 129, 129)
            }
          }
        }
        &:hover .greenbox {
          transform: scaleX(1);
        }
        &:hover .whitecircle{
          transform: rotate(0deg);
        }
        &:hover .price{
          transform: translateX(-65px);
        }
        &:hover .name p {
          overflow: hidden;
        }
        &:hover .details_price .details p{
          overflow: hidden;
        }
      }
      .textcards{
        width: 100%;
        height: auto;
        display: flex; 
        flex-direction: column;
        position: absolute;
          .name p{
            font-weight: 700;
            font-size:small;
            padding-left: 15px;
            margin-bottom: 0;
            width: 200px;
            white-space: nowrap; 
            overflow: visible ;
            text-overflow: ellipsis ;
          }
          .details_price{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 15px;
              .details p{
                font-size: small;
                width: 200px;
                white-space: nowrap; 
                overflow: visible;
                text-overflow: ellipsis;
              }
              .price{
                font-size: small;
                font-weight: 700;
                margin-right: 30px;
                display: flex;
                transition: transform 500ms ease-in-out;
              }
            }
      } 
      .greenbox{
        position: relative;
        background-color: $tertiary-color;
        width: 70px;
        height: auto;
        border-radius: 0 15px 15px 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: right ;
        transform: scaleX(0);
        transition: transform 500ms ease-in-out;
          .whitecircle{
            background-color: white;
            width: 20px;
            height: 20px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-360deg);
            transition: transform 450ms ease-in;
              .fa-check:before{
                color: $tertiary-color;
              }
          }
      }
}

@keyframes cards_down {
  0%{
    transform: scaleY(0);
    opacity: 0;
  }
  100%{
    transform: scaleY(1)
  }
}

.commander{
  margin-top: 40px;
  display:flex ;
  justify-content: center;
  background-color: $secondary-color;
  background: linear-gradient($secondary-color, $primary-color);
  color: white;
  border-radius: 25px;
  width: 50%;
  height: 40px;
  margin-left: 25%;
}

/*Footer*/
  
footer{
  background-color: rgb(54, 54, 54);
  padding-bottom: 20px;
}
  
.logo h3{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left:  20px;
  font-weight: 100;
}
  
.proposer {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-left: 20px;
  font-size: small;
    span{
      padding-left: 10px;
      font-weight: 700;
    }
}

.partenaire{
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-left: 20px;
    margin-top: 5px;
    font-size: small;
      span{
        padding-left: 5px;
        font-weight: 700;
      }
}  

.mentions{
  margin-top: 5px;
  margin-left: 20px;
  font-size: small;
  color: white;
  font-weight: 700;
}
  
.contact a{
  font-family: "Roboto", sans-serif; 
  font-weight: 700;
  margin-top: 5px;
  margin-left: 20px;
  font-size: small;
  color: white;
}

/*Media Queries*/  

@media all and (min-device-width: 415px) {
  header .header {
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  #arrow_left {
    display: none;
  }
  
  .retour_accueil {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .twitter {
    display: flex;
    align-items: center;
      font-size: xx-large;
    }
}
  
@media all and (min-device-width: 810px ) {
    
 /* page d'accueil */ 

 .logo_accueil {
    height: 80px;
      img{
        padding-top: 10px;
        width: 250px;
        height: 50px;
      }
  }

  #localisation_accueil{
    height: 80px;
      span{
        font-size: x-large;
      }
  }
  
  .menu .title{
    font-size: x-large;
  }

  .reserver{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
      span{
        font-size: x-large;
      }
      p{
        font-size: larger;
      }
        a{
          margin-top: 50px;
        }
  }
  
  nav {
    padding-top: 20px;
      h2{
        width: 100%;
        font-size: x-large;
        padding-left: 70px;
      }
      .cards_accueil{
        width: 80%;
        height: auto;
          .chiffre_cercle{
            font-size: x-large;
            height: 50px;
            width: 50px;
          }
          i.fa-solid.fa-mobile-screen{
            font-size: 50px;
          }
          i.fa-solid.fa-list{
            font-size: 50px;
          }
          i.fa-solid.fa-store{
            font-size: 50px;
          }
          p{
            font-size: x-large;
            text-align: center;
          }
      }
  }
  
  .restaurants {
    width: 100%;
    height: auto;
    padding-bottom: 0;
      .container_cards {
        width: 100%;
        height: auto;
        margin-left: 50px;
        height: auto;
          .cards_restaurants{
            height: 300px;
            justify-content: space-around;
            margin-right: 100px;
              figure .new_green_cards{
                margin-left: 20px;
              }
              .texte{
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                  h4{
                    font-size:x-large;
                    margin-top: 0;
                  }
                  p{
                    margin-bottom: 0;
                    font-size: large;
                  }
              }
          }
      }
  }

  /* Toutes les pages menus */
    
  .block_menu{
      .title{
        justify-content: center;
       }

       .trait_dessous{
        margin-top: 0px;
        width: 300px;
        margin-left: -88px;
       }

       .entree{
        width: 100%;
        display: flex;
        justify-content: space-around;
          h2{
            margin-top: -20px;
            margin-right: 10px;
          }
       }
       .plats{
        width: 100%;
        display: flex;
        justify-content: space-around;
          h2{
            margin-top: -20px;
            margin-right: 36px;
          }
       }
       .desserts{
        display: flex;
        justify-content: space-around;
          h2{
            margin-top: -20px;
          }
       }
       
  }

  .blockcards{
    margin-right: 10px;
      .cards{
        height: 120px;
        min-width: 260px;
        margin-bottom: 40px;
          &:hover .price{
            transform: translateX(0);
          }
      }
  }

  .name{
    width: 100%;
    display: flex;
    justify-content: center;
    text-overflow: none;
      p{
        width: 100%;
        display: flex;
        justify-content: center;
      }
  }
  
  .details_price{
    flex-direction: column;
    align-items: center;
  }
  
  .details_price p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
  }
  
  .details_price span{
    font-size:large;
    display: flex;
    margin-left: 50px;
  }
  
  footer .logo{
    display: flex;
    justify-content: center;
  }
  
  .logo h3{
    font-size: x-large;
  }
  
  .text_footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
  
