body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

h1 {
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 100;
  margin: 0;
}

h3 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 100;
  font-size: small;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-shadow: 0 0 black;
  margin-left: 20px;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 240px;
}

/*Page d'accueil*/
.page_accueil {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: load_accueil;
          animation-name: load_accueil;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes load_accueil {
  0% {
    display: none;
    opacity: 0;
    z-index: 2000;
  }
  100% {
    opacity: 1;
    z-index: 2000;
  }
}

@keyframes load_accueil {
  0% {
    display: none;
    opacity: 0;
    z-index: 2000;
  }
  100% {
    opacity: 1;
    z-index: 2000;
  }
}
.header_accueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.logo_accueil {
  background-color: white;
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 5px grey;
  position: relative;
}
.logo_accueil .logo {
  display: flex;
  justify-content: center;
  height: 100%;
}
.logo_accueil img {
  margin-top: 10px;
  width: 150px;
  height: 25px;
}

#localisation_accueil {
  height: 40px;
  display: flex;
  justify-content: center;
  padding-right: 25px;
  background-color: rgb(235, 235, 235);
}
#localisation_accueil i {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
#localisation_accueil span {
  font-size: smaller;
}

.reserver {
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
}
.reserver span {
  width: 200px;
  padding-left: 90px;
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: larger;
  text-shadow: 0 0 black;
}
.reserver p {
  padding-left: 20px;
  text-align: center;
  width: auto;
  font-size: medium;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.reserver a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(246, 246, 246);
  width: 200px;
  height: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border-radius: 20px;
  margin: 10px 0 50px 90px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}
nav .cards_accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 75px;
  background: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 1px 10px 15px 2px rgb(207, 207, 207);
  margin-bottom: 20px;
}
nav .cards_accueil:hover {
  background: #ecdcff;
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
nav .cards_accueil .chiffre_cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  height: 25px;
  width: 25px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-left: -27px;
}
nav .cards_accueil i.fa-solid.fa-mobile-screen {
  color: grey;
  font-size: 20px;
}
nav .cards_accueil i.fa-solid.fa-list {
  color: grey;
  font-size: 20px;
}
nav .cards_accueil i.fa-solid.fa-store {
  color: grey;
  font-size: 20px;
}
nav .cards_accueil p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
  text-shadow: 0 0 black;
}

.restaurants {
  margin: 0;
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: rgb(246, 246, 246);
}
.restaurants .container_cards {
  width: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 28px;
}
.restaurants .container_cards .cards_restaurants {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 30px grey;
  flex-direction: column;
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.restaurants .container_cards .cards_restaurants figure {
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.restaurants .container_cards .cards_restaurants figure .new_green_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 129, 96, 0.929);
  position: absolute;
  margin-top: 15px;
  margin-left: 60%;
  font-size: medium;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background: #99E2D0;
  z-index: 1;
}
.restaurants .container_cards .cards_restaurants figure img {
  width: 100%;
  height: 180px;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .container_cards .cards_restaurants figure figcaption {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.restaurants .container_cards .cards_restaurants figure figcaption .texte h4 {
  margin-bottom: 10px;
}
.restaurants .container_cards .cards_restaurants figure figcaption .texte p {
  margin-left: 20px;
  font-weight: 900;
  font-size: 16px;
  margin-top: 0;
}

/*header menu*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo img {
  margin-top: 10px;
  width: 150px;
}

header .header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.retour_accueil {
  display: none;
}

#arrow_left {
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: large;
}

.twitter {
  display: none;
}

/*Main*/
.photo img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu {
  position: relative;
  border-radius: 30px 30px 0 0px;
  background-color: rgb(246, 246, 246);
  margin-top: -70px;
  padding-bottom: 70px;
}
.menu .block_menu {
  width: 90%;
  padding-left: 5%;
}

.menu .title {
  display: flex;
  justify-content: space-around;
  margin-left: -25px;
}

.restaurant_card--heart {
  transform: scaleX(1);
}
.restaurant_card--heart:hover svg.coeur_plein {
  transform: scaleY(1);
}

svg.coeur_vide {
  overflow: hidden;
  padding-top: 21px;
  width: 27px;
  height: 27px;
  stroke: black;
  fill: transparent;
}

svg.coeur_plein {
  background-color: transparent;
  position: absolute;
  padding-top: 20px;
  width: 30px;
  height: 30px;
  margin-left: -29px;
  /* gradient and fallback color */
  fill: url(#my-cool-gradient) #9356DC;
  /* transform-origin: bottom ;*/
  transform: scaleY(0);
  transition: transform 200ms ease-in-out;
}

#trait_dessous {
  border-top: 3px #99E2D0 solid;
  width: 40px;
  margin-top: 5px;
  padding-bottom: 20px;
}

.blockcards {
  width: 100%;
  height: auto;
  display: flex;
}
.blockcards .cards {
  width: 100%;
  height: 75px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  box-shadow: 1px 10px 15px 2px rgb(207, 207, 207);
  transform: scaleY(1);
  -webkit-animation: cards_down 2000ms;
          animation: cards_down 2000ms;
  /* &:hover .textcards .details_price .details p{
     overflow: hidden;
     text-overflow: ellipsis;

   }

   &:hover .textcards .name span{
     overflow: hidden;
     text-overflow: ellipsis;

   }*/
}
.blockcards .cards--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.blockcards .cards--1:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.blockcards .cards--2:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.blockcards .cards--3:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.blockcards .cards--4:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.blockcards .cards--5:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.blockcards .cards--6:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
.blockcards .cards--7:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.blockcards .cards--8:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.blockcards .cards--9:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.blockcards .cards--10:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards:hover .greenbox {
  transform: scaleX(1);
}
.blockcards .cards:hover .whitecircle {
  transform: rotate(0deg);
}
.blockcards .cards:hover .price {
  transform: translateX(-70px);
}
.blockcards .textcards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blockcards .textcards .name span {
  padding: 10px 0 0 15px;
  width: 200px;
}
.blockcards .textcards .details_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.blockcards .textcards .details_price .details p {
  border: 1px solid black;
  width: 200px;
}
.blockcards .textcards .details_price .price {
  margin-right: 30px;
  display: flex;
  transition: transform 800ms ease-in-out;
}
.blockcards .greenbox {
  position: relative;
  background-color: #99E2D0;
  width: 70px;
  height: auto;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 800ms ease-in-out;
}
.blockcards .greenbox .whitecircle {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-360deg);
  transition: transform 600ms ease-in;
}
.blockcards .greenbox .whitecircle .fa-check:before {
  color: #99E2D0;
}

@-webkit-keyframes cards_down {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes cards_down {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
  }
}
.commander {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  width: 50%;
  height: 40px;
  margin-left: 25%;
}

/*Spinner*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.loader .loader_text {
  display: flex;
  flex-direction: column;
}
.loader .loader_text h1 {
  margin-bottom: 0;
}
.loader .loader_text h2 {
  display: flex;
  justify-content: center;
  font-weight: 900;
}
.loader .spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  line-height: 150px;
}
.loader .spinner::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 10px solid #9356DC;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: spinner_loader 1s ease-out;
          animation: spinner_loader 1s ease-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
@-webkit-keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Footer*/
footer {
  background-color: rgb(54, 54, 54);
  padding-bottom: 20px;
}

.logo h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}

.proposer {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-left: 20px;
  font-size: small;
}

.proposer span {
  padding-left: 10px;
}

.partenaire {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-left: 20px;
  margin-top: 5px;
  font-size: small;
}

.partenaire span {
  padding-left: 5px;
}

.mentions {
  margin-top: 5px;
  margin-left: 20px;
  font-size: small;
  color: white;
}

.contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 20px;
  font-size: small;
  color: white;
}

@media all and (min-device-width: 415px) {
  header .header {
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
  }
  #arrow_left {
    display: none;
  }
  .retour_accueil {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .twitter {
    display: flex;
    align-items: center;
    font-size: xx-large;
  }
}
@media all and (min-device-width: 992px) {
  .menu .title {
    font-size: x-large;
  }
  .reserver {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .reserver a {
    margin-top: 50px;
  }
  nav {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
  }
  h4 {
    padding-bottom: 20px;
    align-items: center;
    font-size: x-large;
  }
  .restaurants h4 {
    margin-left: 2.8%;
  }
  nav .cards_accueil {
    width: 25%;
  }
  .restaurants .container_cards {
    flex-wrap: nowrap;
    height: 500px;
    margin-left: 9%;
    min-width: none;
  }
  .restaurants .container_cards .cards_restaurants {
    height: 300px;
    justify-content: space-around;
    margin-right: 100px;
  }
  .restaurants .container_cards .cards_restaurants figure .new_green_cards {
    margin-left: 11%;
  }
  .restaurants .container_cards .cards_restaurants figure figcaption h4 {
    margin-left: 20px;
  }
  .name {
    margin-top: 20px;
    padding-left: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
  }
  .name span {
    width: 100%;
    justify-content: center;
  }
  .details_price {
    margin-top: 20px;
  }
  .details_price p {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details_price span {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
  }
  footer .logo {
    display: flex;
    justify-content: center;
  }
  .logo h3 {
    font-size: x-large;
  }
  .text_footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */