@charset "UTF-8";
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: large;
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 black;
}

h3 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  color: white;
}

h4 {
  font-family: "Roboto", sans-serif;
}

h5 {
  display: none;
}

span {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}

p {
  font-family: "Roboto", sans-serif;
}

/*Spinner*/
.loader {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: spinner_invisible;
          animation-name: spinner_invisible;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loader .loader_text {
  display: flex;
  flex-direction: column;
}
.loader .loader_text h1 {
  margin-bottom: 0;
}
.loader .loader_text h2 {
  margin-left: 50px;
  font-weight: 500;
}
.loader .spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -53%);
  background: transparent;
  border-radius: 50%;
  line-height: 150px;
}
.loader .spinner::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 10px solid #9356DC;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: spinner_loader 1s ease-out;
          animation: spinner_loader 1s ease-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
@-webkit-keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner_invisible {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

@keyframes spinner_invisible {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}
/*Page d'accueil*/
.page_accueil {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: load_accueil;
          animation-name: load_accueil;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes load_accueil {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1000;
  }
}

@keyframes load_accueil {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1000;
  }
}
.header_accueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.logo_accueil {
  background-color: white;
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 5px grey;
  position: relative;
}
.logo_accueil .logo {
  display: flex;
  justify-content: center;
  height: 100%;
}
.logo_accueil img {
  margin-top: 15px;
  width: 140px;
  height: 25px;
}

#localisation_accueil {
  height: 40px;
  display: flex;
  justify-content: center;
  padding-right: 25px;
  background-color: rgb(235, 235, 235);
}
#localisation_accueil i {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
#localisation_accueil span {
  font-size: small;
  font-weight: 700;
}

.reserver {
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reserver span {
  width: 250px;
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: x-large;
  text-shadow: 0 0 black;
  font-weight: 700;
}
.reserver p {
  padding-left: 20px;
  text-align: center;
  width: auto;
  font-size: medium;
  font-weight: 100;
  display: flex;
  justify-content: center;
}
.reserver a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(246, 246, 246);
  font-weight: 600;
  font-size: 13px;
  width: 190px;
  height: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border-radius: 40px;
  margin: 10px 0 50px 0;
  box-shadow: 1px 2px 10px grey;
}
.reserver a:hover {
  background: linear-gradient(170deg, #fcb0e6, #b678fd);
  box-shadow: 1px 3px 10px grey;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}
nav h2 {
  font-size: x-large;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 20px;
  margin-left: -120px;
}
nav .cards_accueil {
  display: flex;
  align-items: center;
  width: 85%;
  height: 75px;
  background: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 1px 5px 15px 1px rgb(207, 207, 207);
  margin-bottom: 20px;
  margin-left: 10px;
}
nav .cards_accueil:hover {
  background: #f3eaff;
  box-shadow: 5px 5px 15px 1px rgb(207, 207, 207);
}
nav .cards_accueil:hover i.fa-solid.fa-mobile-screen {
  color: #9356DC;
}
nav .cards_accueil:hover i.fa-solid.fa-list {
  color: #9356DC;
}
nav .cards_accueil:hover i.fa-solid.fa-store {
  color: #9356DC;
}
nav .cards_accueil .chiffre_cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  height: 25px;
  width: 25px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-left: -12px;
}
nav .cards_accueil i.fa-solid.fa-mobile-screen {
  color: grey;
  font-size: 20px;
  margin-left: 25px;
}
nav .cards_accueil i.fa-solid.fa-list {
  color: grey;
  font-size: 20px;
  margin-left: 20px;
}
nav .cards_accueil i.fa-solid.fa-store {
  color: grey;
  font-size: 20px;
  margin-left: 20px;
}
nav .cards_accueil p {
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-shadow: 0 0 black;
  margin-left: 20px;
}

.restaurants {
  margin: 0;
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
}
.restaurants h2 {
  width: 50%;
  padding: 10px 0 20px 30px;
  font-size: x-large;
}
.restaurants .container_cards {
  width: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 7%;
}
.restaurants .container_cards .cards_restaurants {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 30px grey;
  flex-direction: column;
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.restaurants .container_cards .cards_restaurants figure {
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.restaurants .container_cards .cards_restaurants figure .new_green_cards {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 129, 96, 0.929);
  position: absolute;
  margin-top: 15px;
  margin-left: 230px;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background: #99E2D0;
  z-index: 1;
}
.restaurants .container_cards .cards_restaurants figure img {
  width: 100%;
  height: 180px;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .container_cards .cards_restaurants figure figcaption {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.restaurants .container_cards .cards_restaurants figure figcaption .texte h4 {
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 20px;
}
.restaurants .container_cards .cards_restaurants figure figcaption .texte p {
  margin-left: 20px;
  font-size: 16px;
  margin-top: 0;
}
.restaurants .container_cards .cards_restaurants figure figcaption .restaurant_card--heart {
  padding-top: 10px;
}

/*header menu*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo img {
  margin-top: 10px;
  width: 140px;
}

header .header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.retour_accueil {
  display: none;
}

#arrow_left {
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: large;
}

.twitter {
  display: none;
}

/*Main Menu*/
.photo img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu {
  position: relative;
  border-radius: 30px 30px 0 0px;
  background-color: rgb(246, 246, 246);
  margin-top: -70px;
  padding-bottom: 70px;
}
.menu .block_menu {
  width: 90%;
  padding-left: 5%;
}
.menu .block_menu .title {
  display: flex;
  justify-content: space-around;
  margin-left: -25px;
  padding-top: 30px;
}
.menu .block_menu .title h1 {
  font-weight: 100;
  font-size: 28px;
  margin-top: 5px;
}

.restaurant_card--heart {
  transform: scaleX(1);
}
.restaurant_card--heart:hover svg.coeur_plein {
  transform: scaleY(1);
}
.restaurant_card--heart svg.coeur_vide {
  overflow: hidden;
  padding-top: 10px;
  width: 22px;
  height: 22px;
  stroke: black;
  fill: transparent;
}
.restaurant_card--heart svg.coeur_plein {
  background-color: transparent;
  position: absolute;
  padding-top: 9px;
  width: 25px;
  height: 25px;
  margin-left: -24px;
  fill: url(#my-cool-gradient) #9356DC;
  transform: scaleY(0);
  transition: transform 200ms ease-in-out;
}

/* cartes + animations */
.entree h2 {
  margin-top: 20px;
  font-size: medium;
  font-weight: 200;
}

.plats h2 {
  margin-top: 20px;
  font-size: medium;
  font-weight: 200;
}

.desserts h2 {
  margin-top: 20px;
  font-size: medium;
  font-weight: 200;
}

.trait_dessous {
  border-top: 3px #99E2D0 solid;
  width: 40px;
  margin-top: 5px;
  padding-bottom: 20px;
}

.blockcards {
  width: 100%;
  height: auto;
  display: flex;
}
.blockcards .cards {
  overflow: hidden; /* pour que la greencard ne dépasse pas au démarrage de l'animation */
  width: 100%;
  height: 75px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 1px 10px 15px 2px rgb(207, 207, 207);
  transform: scaleY(1);
  -webkit-animation: cards_down 2000ms;
          animation: cards_down 2000ms;
}
.blockcards .cards--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.blockcards .cards--1:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.blockcards .cards--2:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.blockcards .cards--3:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.blockcards .cards--4:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.blockcards .cards--5:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.blockcards .cards--6:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
.blockcards .cards--7:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.blockcards .cards--8:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.blockcards .cards--9:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards--10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.blockcards .cards--10:hover {
  box-shadow: 1px 10px 15px 2px rgb(129, 129, 129);
}
.blockcards .cards:hover .greenbox {
  transform: scaleX(1);
}
.blockcards .cards:hover .whitecircle {
  transform: rotate(0deg);
}
.blockcards .cards:hover .price {
  transform: translateX(-65px);
}
.blockcards .cards:hover .name p {
  overflow: hidden;
}
.blockcards .cards:hover .details_price .details p {
  overflow: hidden;
}
.blockcards .textcards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.blockcards .textcards .name p {
  font-weight: 700;
  padding-left: 15px;
  margin-bottom: 0;
  width: 200px;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}
.blockcards .textcards .details_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.blockcards .textcards .details_price .details p {
  font-size: small;
  width: 200px;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}
.blockcards .textcards .details_price .price {
  font-size: small;
  font-weight: 700;
  margin-right: 30px;
  display: flex;
  transition: transform 500ms ease-in-out;
}
.blockcards .greenbox {
  position: relative;
  background-color: #99E2D0;
  width: 70px;
  height: auto;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}
.blockcards .greenbox .whitecircle {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-360deg);
  transition: transform 450ms ease-in;
}
.blockcards .greenbox .whitecircle .fa-check:before {
  color: #99E2D0;
}

@-webkit-keyframes cards_down {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cards_down {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.commander {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #FF79DA;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  box-shadow: 1px 2px 5px grey;
  border-radius: 25px;
  width: 50%;
  height: 40px;
  margin-left: 25%;
}
.commander span {
  font-weight: 200;
}
.commander:hover {
  background: linear-gradient(170deg, #fcb0e6, #b678fd);
  box-shadow: 1px 3px 10px grey;
}

/*Footer*/
footer {
  background-color: rgb(54, 54, 54);
  padding-bottom: 20px;
}

.logo h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  font-weight: 100;
}

.proposer {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-left: 20px;
  font-size: small;
}
.proposer span {
  padding-left: 10px;
  font-weight: 200;
}

.partenaire {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-left: 20px;
  margin-top: 5px;
  font-size: small;
}
.partenaire span {
  padding-left: 5px;
  font-weight: 200;
}

.mentions {
  margin-top: 5px;
  margin-left: 20px;
  font-size: small;
  color: white;
}
.mentions span {
  font-weight: 200;
}

.contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 5px;
  margin-left: 20px;
  font-size: small;
  color: white;
}

/*Media Queries*/
@media all and (min-width: 415px) {
  header .header {
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
  }
  #arrow_left {
    display: none;
  }
  .retour_accueil {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .twitter {
    display: flex;
    align-items: center;
    font-size: xx-large;
  }
}
@media all and (min-width: 810px) {
  /* page d'accueil */
  .logo_accueil {
    width: 100%;
    height: 80px;
  }
  .logo_accueil img {
    padding-top: 10px;
    width: 250px;
    height: 50px;
  }
  #localisation_accueil {
    height: 80px;
  }
  #localisation_accueil span {
    font-size: x-large;
  }
  .menu .title {
    font-size: x-large;
  }
  .reserver {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .reserver span {
    font-size: x-large;
  }
  .reserver p {
    font-size: larger;
  }
  .reserver a {
    margin-top: 50px;
  }
  nav {
    width: 100%;
    padding-top: 20px;
  }
  nav h2 {
    width: 500px;
    font-size: x-large;
    padding-left: 170px;
  }
  nav .cards_accueil {
    width: 80%;
    height: auto;
  }
  nav .cards_accueil .chiffre_cercle {
    font-size: x-large;
    height: 50px;
    width: 50px;
  }
  nav .cards_accueil i.fa-solid.fa-mobile-screen {
    font-size: 50px;
  }
  nav .cards_accueil i.fa-solid.fa-list {
    font-size: 50px;
  }
  nav .cards_accueil i.fa-solid.fa-store {
    font-size: 50px;
  }
  nav .cards_accueil p {
    font-size: x-large;
    text-align: center;
  }
  .restaurants {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .restaurants .container_cards {
    width: 95%;
    height: auto;
    margin-left: 50px;
    height: auto;
  }
  .restaurants .container_cards .cards_restaurants {
    height: 300px;
    justify-content: space-around;
    margin-right: 100px;
  }
  .restaurants .container_cards .cards_restaurants figure .new_green_cards {
    margin-left: 20px;
  }
  .restaurants .container_cards .cards_restaurants .texte {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .restaurants .container_cards .cards_restaurants .texte h4 {
    font-size: x-large;
    margin-top: 0;
  }
  .restaurants .container_cards .cards_restaurants .texte p {
    margin-bottom: 0;
    font-size: large;
  }
  /* Toutes les pages menus */
  .block_menu .title {
    justify-content: center;
  }
  .block_menu .trait_dessous {
    margin-top: 0px;
    width: 300px;
    margin-left: -88px;
  }
  .block_menu .entree {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .block_menu .entree h2 {
    margin-top: -20px;
    margin-right: 10px;
  }
  .block_menu .plats {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .block_menu .plats h2 {
    margin-top: -20px;
    margin-right: 36px;
  }
  .block_menu .desserts {
    display: flex;
    justify-content: space-around;
  }
  .block_menu .desserts h2 {
    margin-top: -20px;
  }
  .blockcards {
    margin-right: 10px;
  }
  .blockcards .cards {
    height: 120px;
    min-width: 260px;
    margin-bottom: 40px;
  }
  .blockcards .cards:hover .price {
    transform: translateX(0);
  }
  .name {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .name p {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .details_price {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .details_price p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
  }
  .details_price span {
    width: 100%;
    font-size: large;
    display: flex;
    margin-left: 50px;
  }
  footer .logo {
    display: flex;
    justify-content: center;
  }
  .logo h3 {
    font-size: x-large;
  }
  .text_footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */