/*Spinner*/

.loader{
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient($primary-color, $secondary-color);
    animation-delay: 3s;
    animation-name: spinner_invisible;
    animation-fill-mode: forwards;
      .loader_text{
        display: flex;
        flex-direction: column;
          h1{
            margin-bottom: 0;
          }
          h2{
            margin-left: 50px;
            font-weight: 500;
          }
      } 
      .spinner{
        position:absolute;
        width:200px;
        height:200px;
        top:50%;
        left:50%;
        transform:translate(-51%,-53%);
        background:transparent;
        border-radius: 50%;
        line-height:150px;
      }
        .spinner::before{
          content:'';
          position:absolute;
          top:-3px;
          left:-3px;
          width:100%;
          height:100%;
          border:10px solid $primary-color;
          border-top:10px solid $tertiary-color;
          border-bottom: 10px solid $secondary-color;
          border-radius:50% ;
          animation:spinner_loader 1s ease-out ;
          animation-iteration-count: 3;
        }

      
  
    @keyframes spinner_loader{
      0%{
        transform:rotate(0deg);
        
      }
      100%{
        transform:rotate(360deg);
      }
    }
  }

  @keyframes spinner_invisible{
    0%{
    }
    100%{
      z-index: 0;
    }
  }
  

